<div style="align-items: start">
  <div class="heading">Category</div>
  <div class="flex-container">
    <div style="margin-right: 20px; margin-bottom: 30px">
      <ion-checkbox></ion-checkbox>
    </div>
    <div>People</div>
  </div>
  <div class="flex-container">
    <div style="margin-right: 20px; margin-bottom: 30px">
      <ion-checkbox></ion-checkbox>
    </div>
    <div>Premium</div>
  </div>
  <div class="flex-container">
    <div style="margin-right: 20px; margin-bottom: 30px">
      <ion-checkbox></ion-checkbox>
    </div>
    <div>Pets</div>
  </div>
  <div class="flex-container">
    <div style="margin-right: 20px; margin-bottom: 30px">
      <ion-checkbox></ion-checkbox>
    </div>
    <div>Food</div>
  </div>
  <div class="flex-container">
    <div style="margin-right: 20px; margin-bottom: 30px">
      <ion-checkbox></ion-checkbox>
    </div>
    <div>Landmarks</div>
  </div>
  <div class="flex-container">
    <div style="margin-right: 20px; margin-bottom: 30px">
      <ion-checkbox></ion-checkbox>
    </div>
    <div>Cities</div>
  </div>
  <div class="flex-container">
    <div style="margin-right: 20px; margin-bottom: 30px">
      <ion-checkbox></ion-checkbox>
    </div>
    <div>Nature</div>
  </div>
  <div
    style="
      width: 100%;
      border-bottom: 2px;
      border-style: solid;
      border-color: rgb(234, 234, 234);
    "
  ></div>
</div>
