<div class="cart-container">
  <div class="flex-container">
    <div class="close-icon">
      <ion-icon slot="icon-only" name="close"></ion-icon>
    </div>
    <div>
      <div class="image-container">
        <br />
        <div class="cart-heading">
          Samurai King Resting <br />
          <div class="cart-subheading">$10000.00</div>
        </div>

        <div class="cart-img">
          <img
            src="../../assets/pexels-maria-geller-801267-2127024.jpg"
            width="150px"
            height="86px"
          />
        </div>
      </div>
    </div>

    <div class="button-container">
      <div class="divider"></div>
      <ion-button style="width: 392px">Clear</ion-button>
    </div>
  </div>
</div>
