.button1 {
  display: flex;
}

@media (max-width: 800px) {
  .button1 {
    display: flex;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 10px;
  }
  .button-component {
    width: 100vw;
    height: 50px;
  }
}
