.pagination-component {
  display: flex;
  justify-content: center;

  margin-bottom: 100px;
  margin-top: 107px;
}

.my-white-paginator .mat-paginator {
  background-color: white;
  color: black;
}

@media (max-width: 800px) {
  .pagination-component {
    margin-top: 78px;
  }
}
