<div class="flex-container">
  <div>
    <div class="card">
      <ion-button expand="full" color="dark" size="default"
        >ADD TO CART</ion-button
      >
    </div>
    <div class="product-details-container">
      <div class="category">People</div>
      <div class="product">Red Car</div>
      <div class="price">$3.89</div>
    </div>
  </div>

  <div>
    <div class="card">
      <ion-button expand="full" color="dark" size="default"
        >ADD TO CART</ion-button
      >
    </div>
    <div style="background-color: white">
      <div class="category">People</div>
      <div class="product">Red Car</div>
      <div class="price">$3.89</div>
    </div>
  </div>

  <div>
    <div class="card">
      <ion-button expand="full" color="dark" size="default"
        >ADD TO CART</ion-button
      >
    </div>
    <div style="background-color: white">
      <div class="category">People</div>
      <div class="product">Red Car</div>
      <div class="price">$3.89</div>
    </div>
  </div>

  <div>
    <div class="card">
      <ion-button expand="full" color="dark" size="default"
        >ADD TO CART</ion-button
      >
    </div>
    <div style="background-color: white">
      <div class="category">People</div>
      <div class="product">Red Car</div>
      <div class="price">$3.89</div>
    </div>
  </div>

  <div>
    <div class="card">
      <ion-button expand="full" color="dark" size="default"
        >ADD TO CART</ion-button
      >
    </div>
    <div style="background-color: white">
      <div class="category">People</div>
      <div class="product">Red Car</div>
      <div class="price">$3.89</div>
    </div>
  </div>

  <div>
    <div class="card">
      <ion-button expand="full" color="dark" size="default"
        >ADD TO CART</ion-button
      >
    </div>
    <div style="background-color: white">
      <div class="category">People</div>
      <div class="product">Red Car</div>
      <div class="price">$3.89</div>
    </div>
  </div>
</div>
