<div class="sub-heading">People also buy</div>

<div class="flex-container">
  <div>
    <img
      src="../../assets/pexels-murdashots-611021625-17324141.jpg"
      height="100%"
      width="100%"
    />
  </div>
  <div>
    <img
      src="../../assets/pexels-affonso-jr-190129191-20839679.jpg"
      height="100%"
      width="100%"
    />
  </div>
  <div>
    <img
      src="../../assets/pexels-ege-kaya-988612859-20765473.jpg"
      height="100%"
      width="100%"
    />
  </div>
</div>

<div class="sub-heading">Details</div>
<div class="text-container">
  <div class="description">Size: 1020 x 1020 pixel</div>
  <div class="description">Size: 15 mb</div>
</div>
